<footer class="footer">
  <div class="inner row">
    <div class="footer-elem">
      <div class="travis-footer">
        <img alt="Hot Pots logo" src="/images/ui/footer-logo.svg"></div>
    </div>

    <div class="footer-elem">
      <h3 class="footer-title">&copy;Hot Pots</h3>
      <address>ul. Surowieckiego 10<br>62-200 Gniezno, Poland</address>
    </div>

    <div class="footer-elem">
      <h3 class="footer-title">Help</h3>
      <ul>
        <li><a href="http://hotpots.io/docs" title="Hot Pots Docs">Documentation</a></li>
      </ul>
    </div>

  </div>
</footer>
